<%= stylesheet_link_tag "service" %>

<div class = "container" id = "servicePage">
	<div class = "row" id = "rowOne">
		<div class = "col-md-12" id = "afirstColumn">
			<%= image_tag "crowd.jpg", width: "100%" %>
		</div>
	</div>
	<div class = "row" id = "rowTwo">
		<div class = "col-md-6" id = "asecondColumn">
			<h2 class="afontOne" id = "redBackground">SERVICE DONATE</h2>
			<p class="afontOne"> Jesus called the church His body. Just as a body has different parts that function as one unit, so does the City of Hope community. We desire to help each person find a place to serve! We have a dream of impacting our city by being His hands and feet! Below are areas where you can find opportunities to serve.</p>
			<h4 class="afontOne">Area of Interest</h4>
			<p class="afontOne">Cafe Area</p>
			<p class="afontOne">Childrens Worship</p>
			<p class="afontOne">Sunday Greeter</p>
			<p class="afontOne">Worship Team</p>
		</div>
		<div class = "col-md-6" id = "athirdColumn">
			<%= image_tag "crowd.jpg", width: "100%" %>
			<%= render 'layouts/form' %>
		</div>
	</div>
</div>


<!--<!DOCTYPE html>
<html>
	<body>
		<div class="row">
			<div class="span6">
				<h1>SERVICE DONATE</h1>
				<p>Jesus called the church His body. Just as a body has different parts that function as one unit, so does the City of Hope community. We desire to help each person find a place to serve! We have a dream of impacting our city by being His hands and feet! Below are areas where you can find opportunities to serve.</p>
				<h2>Area of Interest</h2>
				<p>Cafe Area</p>
				<p>Childrens Worship</p>
				<p>Sunday Greeter</p>
				<p>Worship Team</p>
			</div>
			<div class="span6">
				<img src="" alt="Add Picture Here">
				<%= render 'layouts/form' %>
			</div>
		</div>
	</body>
</html>-->
