<%= form_tag "/emails", method: :post %>

<div>
	<h2 id="redBackground">Sign Up</h2>
</div>

<br />

<div class="form-group">
	<%= label_tag :name, "Name", class: "form-label" %>
	<input type="text" name="email[name]"><br />
</div>

<div class="form-group">
	<%= label_tag :email, "Email", class: "form-label" %>
	<input type="text" name="email[email_address]"><br />
</div>

<div class="form-group">
	<%= label_tag :phone, "Phone", class: "form-label" %>
	<input type="text" name="email[phone]"><br />
</div>

<%= submit_tag "Submit", class: "form-submit" %>
